<mat-card class="android-app-card" routerLink="todo" matRipple>
  <mat-card-header>
    <mat-card-title>Get the Android App Now</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    The Cyprus Pharmacy Guide app for Android is a highly rated app. Access all pharmacies, even when offline!
  </mat-card-content>
  <mat-card-footer>
    <a href='https://play.google.com/store/apps/details?id=com.aspectsense.pharmacyguidecy&utm_source=cpg-web'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' width="50%"/></a>
  </mat-card-footer>
</mat-card>
