<button mat-button matTooltip="Back to pharmacies" routerLink="/pharmacies"><mat-icon>arrow_back</mat-icon> Pharmacies</button>

<mat-card class="info-card" matRipple>
  <mat-card-header>
    <mat-card-title>
      <img src="assets/favicon32.png" alt="Cyprus Pharmacy Guide" class="logo-img"/>
      Cyprus Pharmacy Guide
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    https://cypruspharmacyguide.com
  </mat-card-subtitle>
</mat-card>

<mat-card class="info-card" matRipple>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>build</mat-icon>
      Developed by
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    https://aspectsense.com
  </mat-card-subtitle>
</mat-card>

<mat-card class="info-card" matRipple>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>code</mat-icon>
      Open Source Software
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    Version 1.0.0
  </mat-card-subtitle>
</mat-card>

<mat-card class="info-card" matRipple>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>share</mat-icon>
      Tell the world!
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>
    Share with your friends
  </mat-card-subtitle>
</mat-card>
