<button mat-button matTooltip="Back to pharmacies" routerLink="/pharmacies"><mat-icon>arrow_back</mat-icon> Pharmacies</button>

<mat-divider></mat-divider>

<div class="privacy-container">

  <p class="mat-h1">Privacy policy</p>

  <p class="mat-body">Cyprus Pharmacy Guide takes your privacy seriously!</p>

  <p class="mat-body">The client collects anonymous information about the approximate location of the users accessing the app.

  <p class="mat-body">We also use Google Analytics to trace app usage, and AdMob to serve ads.</p>

  <p class="mat-body">For questions regarding privacy, you can contact hello_at_aspectsense.com</p>

</div>

<app-android-app></app-android-app>

<div style="background-image: url('/assets/skyline_outline.png'); background-repeat: no-repeat; height: 160px"></div>
